* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e293b;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
}

.sidebar a {
  color: #cbd5e1;
  text-decoration: none;
}

.sidebar .active {
  color: #fff;
  font-weight: bold;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.card h3 {
  font-size: 14px;
  margin-bottom: 8px;
}

.card p {
  font-size: 20px;
  font-weight: bold;
}

.btn-primary {
  display: inline-block;
  padding: 12px 18px;
  background: #2563eb;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}











/* ===== MOBILE FIRST ===== */
@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  table {
    font-size: 13px;
  }

  input, button {
    font-size: 14px;
    padding: 8px;
  }

  button {
    border-radius: 6px;
  }

  /* Kasir layout */
  .kasir-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .produk-list button {
    width: 100%;
    margin-bottom: 6px;
  }
}











.autocomplete{
  position: relative;
}

.autocomplete-list {
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  background: white;
  width: 100%;
  z-index: 99;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

/* Highlight saat mouse hover */
.autocomplete-item:hover {
  background-color: #f0f0f0;
}

/* Highlight saat navigasi keyboard */
.autocomplete-active {
  background-color: #2196F3 !important;
  color: white !important;
}